*{
    margin: 0;
    padding:0;

}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;

}


 /* Css  For nav /my unique task */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    background: rgba(214, 81, 109, 0.2);
}


  

.logo{
    margin-left: 30px;
    margin-top: 4px;
}
.menus>ul{
    display: flex;
    align-items: center;
}
.nav li{
    list-style: none;
    margin-right: 90px;
   
}
.nav li:hover{
    color: rgb(255, 206, 206);
   
   
}


/* Css for task one start here  */
.main{
    height: 2880px;
}

.first_section{
    
    height: 400px;
 
    display: flex;
    justify-content:space-between ;
    padding: 100px;
    align-items: center;
    background: rgba(214, 81, 109, 0.1);

    
}
.box1_header{
   
color: #272727;
font-size: 50px;

}

.box1_discription{

color: rgba(39, 39, 39, 0.60);
font-size: 16px;
text-align: left;
}
.box2_section{
display: flex;
justify-content:center;
text-align: center;
}



.button{
margin-top: 20px;
padding: 20px 43px;
border-radius: 5px;
background: #E55473;


}





/* Css for Bonus/second task/main task or Features start here */


.second{
    height: 600px;
    padding:100px;

    background:white;
   
}

.box2_section{
    padding-left: 210px;
}
.box2_image{
    height: 540px;
}


h2{
    
 text-align: center;
    
   
}
p{
    text-align: center;
    width: 500px;
    margin: auto !important;
    color: rgba(39, 39, 39, 0.60);
    padding-top: 10px;
    font-family: Lato;
}

.container{
    padding-top:40px ;
    display: flex;
    justify-content:center;
    gap: 24px;
}

.section_box1{
    width: 410px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
}


.section_box2{
    width: 410px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    
}
.section_box3{
    width: 410px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    
}
.image{
    padding: 90px 90px 90px ;
    padding-bottom: 0;
    width: 200px;
    height: 348px;
    
    
}
a{
display: block;
text-align: center;
padding-top:30px;
   
}



/* Css for task three */


.section_three{
    height: 500px;
    padding-top: 40px;
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: space-around;
    align-items: center;
}
.offer{
    color:#E55473;
}
.three_discription{
   padding:20px;
}

.button1{
 margin-left: 180px;
 margin-top: 20px;
padding: 15px 30px;
border-radius: 18px;
background: #E55473;

}

/* Css for task four */

.instagram{
    padding:100px;
    height: 0px;
    display: block;
    text-align: center;
}
.instagram_title{
    text-align: center;
}
.instagram_discription{
    padding-top: 20px;

}
.instagram2{
  
    padding:10px;
    display: flex;
    justify-content:space-around;
}
.picin{
height: 280px;
width: 192px;
padding: 20px;
}



/* Css for Task five or Scarch containaer */

    .scarch_container{
        height: 600px;
        background-image: url("./Flower Asset/Rectangle 9.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size:77%;
        text-align: center;
        font-display: flex;
        align-items: center;
        padding-top:420px;
        
        }
        
        .scarch__text{
       
            text-align: center;
        }
      .subscribe{
        padding-top: 30px;
      }
        .btn-btn{
            width: 150px;
            height: 35px;
            border-radius: 5px;
            background: #E55473;
        }
        
        .inputFild{
            width: 250px;
            height: 30px;
            border-radius: 5px;
        }




        /* Css for footer */
      
        .footer_container{
            height: 400px;
            background-color: #000000;
            text-align: center;
            
            
            }
           .footer_title{
            padding-top:100px;
            color: #E55473;
            font-size: 40px;
           }
           span{
            color: white;
           }
         
           .footer_text{
          padding-top: 30px;
            color: #FFF;
            font-size: 16px;
          
           }
.copyright{
    padding-top: 30px;;
    color: rgba(255, 255, 255, 0.40);
font-size: 10px;


}